body,head {
    background-color: black;
    color: white;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:black;
display: flex;
justify-content: flex-start;
flex-direction: row;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:grey;
}

.active {
    background-color:black;
    color: white;
}

.spotify {
    display: flex;
    justify-content: flex-start;
}
.a {
    color: red;
}

#follow {
    color: black;
    background-color: white;
    border: 1px solid;
    border-color: cyan;
    border-radius: 3px;
    width: 85px;
    height: 30px;
    position: flex;	 
    cursor: hand;
}