body,head {
    background-color: black;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    text-align: justify;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:black;
display: flex;
justify-content: flex-start;
flex-direction: row;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:grey;
}

.active {
    background-color:black;
    color: white;
}

.spotify {
    display: flex;
    justify-content: flex-start;
}
.a {
    color: red;
}

.other {
    display: flex;
    flex-flow: column wrap;
}

tr, td {
    border: 1px solid;
    text-align: center;
}